name: Purge Camo Cache
on:
 push:
   branches:
     - main
 schedule:
   - cron: '0 */6 * * *'

jobs:
 purge:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - uses: kevincobain2000/action-camo-purge@v1
